.navbar-brand
{
    color: whitesmoke;
    padding: 12px;
}
i
{
    padding: 12px;
    color: whitesmoke;
}
#bg
{
  
  border-right:2px solid black ;
  padding: 3px;
}
#log
{
  background-color:#333;
 
}
ul
{

    padding:22px;
    float: right;
}
i
{
    padding: 12px;
    color: #333;
}

.event
{
  margin:32px;  
  padding: 12px;  
  width: 450px;
  height: 520px;
  border: 2px solid whitesmoke;
  border-radius: 12px;
}

form
{
    margin-top:32px;
}
input[type=text], input[type=password],input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }